/*riset*/
body,ul,h1,h2,h3,h5,h6,div,a,p,ul{
    margin: 0px;
    padding: 0px; 
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        } 
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    vertical-align: top;
}
/*共通*/
html{
    max-width: 1920px;
    min-width: 900px;
}
body{
    background-color: #0197a6;
}

h2{
    margin-left: 0;
    font-size: 56px;
    color: #13131b;
    letter-spacing: 0.1em; 
    border-bottom: 4px solid #000; 
    margin-right: 2%;
    margin-left: 2%;
}
section.wrap{
  justify-content: center;
}

/*ヘッダー*/
header img{
    width: 15%;
    margin-left: 30px;
    min-width: 100px;
    min-height: 100px;
}
header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu{
    display: flex;
}
header .menu-content-pc{
    margin-top: 0px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color:  #0197a6;
    text-decoration: underline;
}

a:last-of-type{
    margin-right: 10px;
}

/*ヒーロー*/
.hero {
    position: relative;  
}
.hero img{
    width: 100%;
}
.hero .catch-copy{
    position: absolute;
}
.hero .catch-copy{
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 45px;
    font-weight: 200;
    color: aliceblue;
    background-color: black;
}

.pc {display: block !important; }
.sp {display: none !important; }
    

/*イントロダクション*/
.Introduction{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #eeedeb;
}
.Introduction img{
    width: 40%;
}

.Introduction .wrap{
     display: flex;
     margin-top: 20px;
     margin-left: 25px;
}
.summary{
    margin-top: 20px;
    font-size: 24px;
}
p{
    margin-left: 20px;
}
/*コンテンツ*/
.contents{
    padding-top: 40px;
}
.contents a{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 200px;
    color: aliceblue;  
    display: block;
}

.contents .wrap{
       margin-left: 45px;
       margin-bottom: 40px;
}
.contents img{
    margin-top: 40px
}

/*コンタクト*/
.contact{
    padding-top: 40px;
    background-color: #eeedeb;
}
.contact h1{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

@media only screen and (max-width: 500px) {
    .pc {display: none !important; }
    .sp {display: block !important; }
    
    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #0197a6;
    }
    
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: aliceblue;
        position: absolute;
}
    .menu-btn span:before {
        bottom: 8px;
}
    .menu-btn span:after {
        top: 8px;
}
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
}
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
}
    #menu-btn-check {
        display: none;
}
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        background-color: #0197a6;
}
    .menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 2px aliceblue;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: aliceblue;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px aliceblue;
    border-right: solid 2px aliceblue;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #0197a6;
    transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/}
}

